
<div class = "container2">
<p class = "text-center"><%= params[:question]%></p>
<p class = "text-center"> - You</p>
<br />

<p class = "text-center"><%= @answer%></p>
       
<p class = "text-center"> - Your Coach</p>

<p class = "text-center"><%= link_to "Ask another Question", ask_path %></p>
</div>