<div class = "container">

<form action="/answer" method="get" class="form">
  <input class = "question" type="text" name="question" value="<%= params[:question] %>" placeholder = "Ask your question">
  <input class = "submit" type="submit" value="Ask!">
</form>

</div>